<tui-root>
  <header>
    <h1>Прототип экспертной системы "Выбор аналитических методов на основе предпочтений восприятия информации"</h1>
    <h2>Студент группы СГН3-72Б Самойленко Артём</h2>
    
    <h2>Набор вопросов:</h2>
  </header>
  <main>
    <form [formGroup]="form">
      <div
        *ngFor="let questionBlock of questionBlocks; let i = index"
        class="question"
      >
        <p>{{questionBlock.question}}</p>
        <div class="answers">
          <div
            tuiGroup
            orientation="vertical"
            [collapsed]="true"
          >
            <tui-radio-block
                *ngFor="let answer of questionBlock.answers"
                contentAlign="right"
                [formControlName]="'question' + (i+1)"
                [item]="answer.value"
                size="l"
            >
                {{answer.text}}
            </tui-radio-block>
          </div>
        </div>
      </div>

      <button
          tuiButton
          type="button"
          appereance="primary"
          size="l"
          class="submit-btn"
          (click)="submit()"
      >
        Обработать
      </button>
    </form>
    <p
      *ngIf="result.length"
      class="result"
    >
      Результат: {{result}}
    </p>
  </main>
</tui-root>